/* CSS Document */
#purple-rect, #secondary, #top-wrapper, #container #action_icons, #header-region, span.back_to_top, #page #left, #footer #block-menu-menu-footer-links, #footer #footer-social, .to-top, #breadcrumb, .back-link, ul.tabs, .views-admin-links {
  display: none; }

body {
  padding: 0 10px; }

#wrapper {
  width: 100%; }

#header, #container, #content, .two-column #content {
  float: none;
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important; }

#main-squeeze h1#page-title,
#main-squeeze div#page-title {
  left: 0px;
  background: none;
  color: #4a1748;
  padding: 0px;
  margin: 35px 0; }

#page #container, #main-squeeze #content {
  min-height: inherit;
  background-color: #fff; }

/* for Internet Explorer */
/*\*/
* html div#container {
  height: auto; }

/**/
#header {
  border-bottom: 1px solid #CCCCCC;
  height: 80px; }

#content .heading {
  padding-top: 10px; }

h1 {
  color: #000; }

span.source-title {
  font-weight: bold;
  padding-right: 7px; }

#block-nyucn_admin-print_source_url {
  float: left;
  padding-top: 8px; }

#footer-wrapper {
  margin-bottom: 58px; }
