/* CSS Document */
*, *:before, *:after {
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

/**
 * @file _extends.scss
 * Extendable classes go here
 */
.clearfix:after,
.wrap:after,
.site-header:after,
.site-header .top-wrap:after,
section:after,
.section:after,
hr:after,
button:after,
.button:after,
input[type="submit"]:after,
.footer-col-1:after,
.footer-col-2:after,
.site-footer ul:after,
.summary:after,
.meta:after,
.meta .meta-wrap:after,
.full-width:after,
.post-comment-wrap:after,
.posts:after,
.post:after,
.post pre:after,
.post code:after,
.page-wrapper:after,
.page-wrap:after,
.page:after,
.page-content:after,
.top.archive:after,
.browse-by-category:after,
form:after,
form a.button:after {
  content: "";
  display: table;
  clear: both;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

a {
  color: #2a7ae2;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #205caa;
}

html,
body {
  font-size: 20px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  color: #4f4f4f;
}

p {
  margin-bottom: 40px;
  line-height: 1.5;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "adelle", serif;
  line-height: 1.3;
}

blockquote,
blockquote p {
  font-family: "adelle", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  font-style: italic;
}
@media (min-width: 580px) {
  blockquote,
  blockquote p {
    font-size: 20px;
  }
}
@media (min-width: 740px) {
  blockquote,
  blockquote p {
    font-size: 26px;
  }
}
blockquote cite,
blockquote p cite {
  text-transform: uppercase;
  font-style: normal;
  display: block;
  font-size: 12px;
  padding: .5em 0;
  margin-top: .5em;
  border-top: 0.1em solid #6ab8ac;
}
@media (min-width: 580px) {
  blockquote cite,
  blockquote p cite {
    font-size: 16px;
  }
}
blockquote cite span,
blockquote p cite span {
  font-style: italic;
  text-transform: none;
  display: block;
  font-size: 12px;
}
@media (min-width: 580px) {
  blockquote cite span,
  blockquote p cite span {
    font-size: 16px;
  }
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #1c1c1c;
}
@media (min-width: 800px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #424242;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #5c5c5c;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
  color: dimgray;
}
@media (min-width: 800px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 5px;
}

.posts li .post-link {
  font-size: 24px;
}

.meta,
.post-date {
  color: #5c5c5c;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.site-nav {
  text-transform: uppercase;
}
.site-nav li {
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .site-nav li {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .site-nav li {
    font-size: 20px;
  }
}

input,
select,
textarea {
  font-size: 20px;
}

label {
  text-transform: uppercase;
}

.wrap {
  width: 100%;
  max-width: 1200px;
}

.wrap {
  padding: 40px;
  margin: 0 auto;
}
.wrap.post-head {
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.95);
}
.wrap.post-head h1 {
  margin-bottom: 0;
}
.wrap.post {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9);
}
.wrap.meta-comment {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
}
.wrap.header {
  padding: 10px 40px;
}

.page-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  max-width: 1200px;
}

.site-header.page-color {
  background-color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 600px) {
  .site-header.about-color {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.site-header .logo {
  fill: white;
  line-height: 0;
}
.site-header .logo svg {
  -webkit-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.site-header .logo:hover {
  fill: rgba(255, 255, 255, 0.7);
}
.site-header .site-nav {
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.site-header .site-nav a {
  color: white;
  display: block;
  line-height: 60px;
}
.site-header .site-nav a:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
.site-header .site-nav .menu {
  margin: 0;
  padding: 0;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
      align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  width: 100%;
}
@media (min-width: 1280px) {
  .site-header .site-nav .menu {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
        align-items: flex-end;
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end;
  }
}
.site-header .site-nav .menu li {
  list-style-type: none;
  margin: 0;
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.site-header .site-nav .menu li.first {
  margin-left: 0;
}
.site-header .site-nav .menu li a {
  width: 100%;
  text-align: right;
}
.site-header .site-nav .menu li.active a,
.site-header .site-nav .menu li.active a:hover {
  color: rgba(255, 255, 255, 0.65);
}

.site-header .top-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.site-header .wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.site-header .logo-wrap {
  position: relative;
  z-index: 10;
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 0 60px;
  -ms-flex: 0 0 60px;
      flex: 0 0 60px;
}
@media (min-width: 380px) {
  .site-header .logo-wrap {
    text-align: left;
  }
}
.site-header .logo {
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.site-header .logo svg {
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

::-moz-selection {
  color: white;
  background: #92b82b;
}

::selection {
  color: white;
  background: #92b82b;
}

hr {
  border: 0;
  height: 5px;
  margin: 60px 0 60px;
  background-color: rgba(28, 28, 28, 0.2);
  position: relative;
}

a,
a:visited {
  color: #617a1d;
}
a:hover,
a:visited:hover {
  color: #92b82b;
  text-decoration: none;
}
.post-content a, .page-content a, .post-content
a:visited, .page-content
a:visited {
  color: #718f21;
  font-family: "adelle", serif;
  border-bottom: 2.5px solid #d9d336;
}
.post-content a:visited, .page-content a:visited, .post-content
a:visited:visited, .page-content
a:visited:visited {
  color: #405113;
}
.post-content a:hover, .page-content a:hover, .post-content
a:visited:hover, .page-content
a:visited:hover {
  color: #617a1d;
  background-color: #d9d336;
  text-decoration: underline;
}

button,
.button,
input[type="submit"] {
  padding: 6.66667px 20px;
  background: white;
  color: #617a1d;
  border: 0.1em solid #617a1d;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  -webkit-transition: background, 0.2s, ease;
  transition: background, 0.2s, ease;
}
button:hover,
.button:hover,
input[type="submit"]:hover {
  background: #92b82b;
  color: white;
  border-color: #82a326;
}
button.active,
.button.active,
input[type="submit"].active {
  background: dimgray;
  color: #e6e6e6;
  border-color: dimgray;
}
button.by-category.toggle,
.button.by-category.toggle,
input[type="submit"].by-category.toggle {
  border-color: #828282;
  color: #4f4f4f;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
}
@media (min-width: 600px) {
  button.by-category.toggle,
  .button.by-category.toggle,
  input[type="submit"].by-category.toggle {
    border-radius: 4px;
  }
}
button.by-category.toggle:hover,
.button.by-category.toggle:hover,
input[type="submit"].by-category.toggle:hover {
  background: #4f4f4f;
  color: white;
  border-color: #1c1c1c;
}
button.by-category.toggle:hover .icon-tags,
.button.by-category.toggle:hover .icon-tags,
input[type="submit"].by-category.toggle:hover .icon-tags {
  background: transparent url('/img/icons/chevron-circle-down-white.svg?1423363298') center center no-repeat;
  background-size: contain;
}
button.by-category.toggle.active,
.button.by-category.toggle.active,
input[type="submit"].by-category.toggle.active {
  background: #4f4f4f;
  box-shadow: inset 0 0 4px rgba(28, 28, 28, 0.9);
  color: #a8a8a8;
  border-color: #4f4f4f;
}
button.by-category.toggle.active:hover,
.button.by-category.toggle.active:hover,
input[type="submit"].by-category.toggle.active:hover {
  background: #4f4f4f;
  color: #a8a8a8;
  border-color: #4f4f4f;
}
button.by-category.toggle.active:hover .icon-tags,
.button.by-category.toggle.active:hover .icon-tags,
input[type="submit"].by-category.toggle.active:hover .icon-tags {
  background: transparent url('/img/icons/chevron-circle-up-white.svg?1423418647') center center no-repeat;
  background-size: contain;
}
button.by-category.toggle.active .icon-tags,
.button.by-category.toggle.active .icon-tags,
input[type="submit"].by-category.toggle.active .icon-tags {
  opacity: .6;
  background: transparent url('/img/icons/chevron-circle-up-white.svg?1423418647') center center no-repeat;
  background-size: contain;
}
button.by-category.toggle .icon,
.button.by-category.toggle .icon,
input[type="submit"].by-category.toggle .icon {
  padding-right: 40px;
}

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100vh;
}

.site-header,
.site-footer,
.post-header,
.featured-image,
.page-wrapper,
.summary {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  width: 100%;
}

.site-footer {
  padding: 0;
  font-family: "adelle", serif;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f2f2f2;
}
.site-footer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .site-footer p span.text {
    display: inline-block;
    float: left;
  }
}
.site-footer p span.email {
  display: block;
}
@media (min-width: 1024px) {
  .site-footer p span.email {
    display: inline-block;
    text-align: right;
    padding-left: 20px;
    float: right;
  }
}

.site-footer .wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.footer-col-1 {
  padding-bottom: 20px;
  width: 100%;
}

.footer-col-2 {
  border-top: 2px solid #92b82b;
  padding-top: 40px;
  width: 100%;
}

.site-footer ul {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
@media (min-width: 600px) {
  .site-footer ul {
    text-align: center;
  }
}
.site-footer ul li {
  text-align: center;
  margin: 0;
  padding: 2px;
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.site-footer ul li a {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.site-footer ul li a:hover {
  background-color: rgba(255, 255, 255, 0.95);
}
.site-footer ul li a svg {
  position: relative;
  -webkit-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.featured-image {
  text-align: center;
  position: relative;
  line-height: 0;
  width: 100%;
  display: block;
}
@media (min-width: 1024px) {
  .featured-image {
    margin-bottom: -160px;
    z-index: -1;
  }
}

img.profile, img.dogs {
  margin: 0 auto;
  display: block;
  border-style: solid;
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 6px;
  border-radius: 400px;
  padding: 20px;
  border-width: 10px;
}
@media (min-width: 768px) {
  img.profile, img.dogs {
    padding: 20px;
    border-width: 4px;
  }
}
@media (min-width: 1024px) {
  img.profile, img.dogs {
    border-width: 5px;
  }
}
@media (min-width: 1280px) {
  img.profile, img.dogs {
    padding: 60px;
    border-width: 20px;
  }
}
img.profile:hover, img.dogs:hover {
  padding: 0;
  -webkit-transition: all, 0.2s, linear;
  transition: all, 0.2s, linear;
  box-shadow: rgba(0, 0, 0, 0.8) 0 2px 4px;
  border-width: 5px;
}
img.profile:hover {
  border-color: #718f21;
}
@media (min-width: 1024px) {
  img.profile {
    padding: 0;
  }
}
@media (min-width: 1280px) {
  img.profile {
    padding: 6.66667px;
  }
}
img.dogs:hover {
  border-color: #3c7f75;
}
@media (min-width: 1024px) {
  img.dogs {
    padding: 0;
  }
}
@media (min-width: 1280px) {
  img.dogs {
    padding: 6.66667px;
  }
}

@media (min-width: 768px) {
  .summary blockquote,
  .summary blockquote p {
    max-width: 75%;
  }
}
@media (min-width: 1024px) {
  .summary blockquote,
  .summary blockquote p {
    padding-left: 25%;
  }
}
.summary .wrap {
  padding: 40px 20px;
  border-left: 20px solid #595959;
  background-color: rgba(217, 217, 217, 0.9);
}
.summary .wrap.reviews {
  color: white;
  border-color: #3c130e;
  background-color: rgba(184, 59, 43, 0.9);
  text-shadow: rgba(0, 0, 0, 0.6) -1px -1px 0;
}
.summary .wrap.health {
  color: #f1efb7;
  border-color: #617a1d;
  background-color: rgba(146, 184, 43, 0.85);
  text-shadow: rgba(0, 0, 0, 0.6) -1px -1px 0;
}
.summary .wrap.design {
  color: #f6dfc8;
  border-color: #755018;
  background-color: rgba(181, 124, 37, 0.85);
  text-shadow: rgba(0, 0, 0, 0.6) -1px -1px 0;
}
.summary .wrap.development {
  color: #aed9d3;
  border-color: #346d65;
  background-color: rgba(77, 161, 149, 0.9);
  text-shadow: rgba(0, 0, 0, 0.6) -1px -1px 0;
}

.meta {
  text-align: center;
}
.meta .meta-wrap {
  padding-top: 40px;
  margin: 0 auto;
  border-top: 5px solid rgba(28, 28, 28, 0.2);
}
.meta .category,
.meta .tag {
  display: block;
  color: #a8a8a8;
  padding-bottom: 20px;
  text-align: left;
}
@media (min-width: 1024px) {
  .meta .category,
  .meta .tag {
    width: 48%;
  }
}
@media (min-width: 1024px) {
  .meta .category {
    float: left;
  }
}
@media (min-width: 1024px) {
  .meta .tag {
    float: right;
    text-align: right;
  }
}

.full-width {
  width: 100%;
}

.post-comment-wrap {
  width: 100%;
}

.recent {
  display: block;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(28, 28, 28, 0.25);
}
@media (min-width: 1024px) {
  .recent {
    width: 28.88889%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 6.66667%;
    margin-bottom: 0;
    border: 0;
  }
}
.recent h3 {
  margin-bottom: 6.66667px;
}
.recent a {
  display: block;
  padding: 10px 0;
}
.recent ul {
  margin-left: 0;
}
.recent ul li {
  display: inline-block;
  margin-right: 10px;
  list-style: none;
  font-size: 18px;
}
@media (min-width: 1024px) {
  .recent ul li {
    display: block;
    border-bottom: 2px solid rgba(28, 28, 28, 0.25);
    margin-right: 0;
  }
}

.comments {
  display: block;
  padding-top: 20px;
}
@media (min-width: 1024px) {
  .comments {
    width: 64.44444%;
    clear: right;
    float: right;
    margin-right: 0;
    padding-top: 0;
  }
}

/* Post ul styles */
/* ----------------------------------------------------------*/
.posts {
  list-style-type: none;
  padding-top: 20px;
}
.posts.archive {
  padding-top: 40px;
}
.posts a {
  display: inline-block;
  /* non-flexbox browsers */
}
.posts li {
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
}
.posts .post-date {
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
      flex: 1 0 100%;
}
@media (min-width: 768px) {
  .posts .post-date {
    -webkit-flex: 0 0 140px;
    -ms-flex: 0 0 140px;
        flex: 0 0 140px;
  }
}
.posts .post-link {
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
      flex: 1 0 100%;
}
@media (min-width: 768px) {
  .posts .post-link {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
  }
}

.home {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
}

.blog-posts,
.work-posts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
      flex: 1 0 100%;
}

@media (min-width: 1024px) {
  .blog-posts {
    -webkit-flex: 1 0 60%;
    -ms-flex: 1 0 60%;
        flex: 1 0 60%;
  }
}

@media (min-width: 1024px) {
  .work-posts {
    -webkit-flex: 1 0 40%;
    -ms-flex: 1 0 40%;
        flex: 1 0 40%;
  }
}

.post-header .wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
.post-header .meta {
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
      flex: 1 0 100%;
  padding: 10px 0;
  border-bottom: 5px solid #dbdbdb;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .post-header .meta {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    border: none;
    margin-bottom: 0;
    padding: 0;
  }
}
.post-header h1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1024px) {
  .post-header h1 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
  }
}

/* Post Content Styles */
.wrap.post {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
.wrap.post .post {
  width: 100%;
}

.post-content {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
@media (min-width: 1024px) {
  .post-content {
    padding-left: 25%;
  }
}
.post-content ul,
.post-content ol {
  padding-left: 20px;
  margin-bottom: 40px;
}

.post-content blockquote,
.page-content blockquote {
  color: #1c1c1c;
  margin: 40px 0;
  padding-left: 20px;
  border-left: 20px solid #4da195;
}
.post-content blockquote cite,
.page-content blockquote cite {
  color: dimgray;
}

.post pre,
.post code {
  border: 3.33333px solid #3a2f1d;
  background-color: #d9d336;
  color: #3a2f1d;
  overflow: scroll;
  padding: 20px;
  display: block;
}
.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}
.post pre.terminal {
  border: 6.66667px solid black;
  background-color: #333;
  color: #FFF;
  border-radius: 3px;
}
.post pre.terminal code {
  background-color: #333;
}

body.dark {
  background-color: black;
}
body.dark-texture {
  background-image: url(/img/tpl/dark-texture.png);
  background-repeat: repeat;
  background-color: black;
}
body.light {
  background-color: rgba(28, 28, 28, 0.15);
}
body.light .logo {
  fill: #1c1c1c;
}
body.light .logo:hover {
  fill: rgba(28, 28, 28, 0.8);
}
body.light .bar:before,
body.light .bar:after,
body.light .bar {
  background-color: #1c1c1c;
}
body.light .bar:before:hover,
body.light .bar:after:hover,
body.light .bar:hover {
  background-color: rgba(28, 28, 28, 0.8);
}
body.light .site-nav a {
  color: #1c1c1c;
}
body.light .site-nav a:hover {
  color: rgba(28, 28, 28, 0.75);
}
body.light .site-nav.menu-open {
  background-color: rgba(255, 255, 255, 0.85);
}
body.about-color {
  background-color: #3a2f1d;
}
body.about-color .logo {
  fill: #d9d336;
}
body.about-color .logo:hover {
  fill: rgba(217, 211, 54, 0.8);
}
body.about-color .bar:before,
body.about-color .bar:after,
body.about-color .bar {
  background-color: #d9d336;
}
body.about-color .bar:before:hover,
body.about-color .bar:after:hover,
body.about-color .bar:hover {
  background-color: rgba(217, 211, 54, 0.8);
}
body.about-color .site-nav a {
  color: #d9d336;
}
body.about-color .site-nav a:hover {
  color: rgba(217, 211, 54, 0.8);
}
body.about-color .site-nav.menu-open {
  background-color: rgba(58, 47, 29, 0.85);
}
body.ex-cop {
  background-color: #320e07;
}
body.ex-cop .site-nav.menu-open {
  background-color: rgba(50, 14, 7, 0.85);
}
body.brown {
  background-color: #3a2f1d;
}
body.brown .site-nav.menu-open {
  background-color: rgba(58, 47, 29, 0.85);
}
body.british-blue {
  background-color: #00247d;
}
body.british-blue .site-nav.menu-open {
  background-color: rgba(0, 36, 125, 0.85);
}
body.design-for-one {
  background-color: #371f0c;
}
body.design-for-one .site-nav.menu-open {
  background-color: rgba(55, 31, 12, 0.85);
}
body.design-for-two {
  background-color: #371f0c;
}
body.design-for-two .site-nav.menu-open {
  background-color: rgba(55, 31, 12, 0.85);
}
body.saul-purple {
  background-color: #442948;
}
body.saul-purple .site-nav.menu-open {
  background-color: rgba(68, 41, 72, 0.85);
}
body.drupal-blue {
  background-color: #03486c;
}
body.drupal-blue .site-nav.menu-open {
  background-color: rgba(3, 72, 108, 0.85);
}
body.drupal-blue2 {
  background-color: #0077b6;
}
body.drupal-blue2 .site-nav.menu-open {
  background-color: rgba(0, 119, 182, 0.85);
}
body.drupal-green {
  background-color: #636900;
}
body.drupal-green .site-nav.menu-open {
  background-color: rgba(99, 105, 0, 0.85);
}
body.drupal-green2 {
  background-color: #98a013;
}
body.drupal-green2 .site-nav.menu-open {
  background-color: rgba(152, 160, 19, 0.85);
}
body.eyedea {
  background-color: #9bbfbf;
}
body.eyedea .site-nav.menu-open {
  background-color: rgba(155, 191, 191, 0.85);
}
body.never-better {
  background-color: #d71a62;
}
body.never-better .logo {
  fill: #d9d336;
}
body.never-better .logo:hover {
  fill: rgba(217, 211, 54, 0.8);
}
body.never-better .bar:before,
body.never-better .bar:after,
body.never-better .bar {
  background-color: #d9d336;
}
body.never-better .bar:before:hover,
body.never-better .bar:after:hover,
body.never-better .bar:hover {
  background-color: rgba(217, 211, 54, 0.8);
}
body.never-better .site-nav a {
  color: #d9d336;
}
body.never-better .site-nav a:hover {
  color: rgba(217, 211, 54, 0.8);
}
body.never-better .site-nav.menu-open {
  background-color: rgba(215, 26, 98, 0.85);
}
body.dapper-green {
  background-color: #676944;
}
body.dapper-green .site-nav.menu-open {
  background-color: rgba(103, 105, 68, 0.85);
}
body.gossip-purple {
  background-color: #8d5595;
}
body.gossip-purple .logo {
  fill: #df9246;
}
body.gossip-purple .logo:hover {
  fill: rgba(223, 146, 70, 0.8);
}
body.gossip-purple .bar:before,
body.gossip-purple .bar:after,
body.gossip-purple .bar {
  background-color: #df9246;
}
body.gossip-purple .bar:before:hover,
body.gossip-purple .bar:after:hover,
body.gossip-purple .bar:hover {
  background-color: rgba(223, 146, 70, 0.8);
}
body.gossip-purple .site-nav a {
  color: #df9246;
}
body.gossip-purple .site-nav a:hover {
  color: rgba(223, 146, 70, 0.8);
}
body.gossip-purple .site-nav.menu-open {
  background-color: rgba(255, 255, 255, 0.85);
}
body.awake {
  background-color: #ab627d;
}
body.awake .site-nav.menu-open {
  background-color: rgba(171, 98, 125, 0.85);
}
body.lazerbeak {
  background-color: #314b61;
}
body.lazerbeak .site-nav.menu-open {
  background-color: rgba(49, 75, 97, 0.85);
}
body.blake .logo {
  fill: #4da195;
}
body.blake .logo:hover {
  fill: rgba(77, 161, 149, 0.8);
}
body.blake .bar:before,
body.blake .bar:after,
body.blake .bar {
  background-color: #4da195;
}
body.blake .bar:before:hover,
body.blake .bar:after:hover,
body.blake .bar:hover {
  background-color: rgba(77, 161, 149, 0.8);
}
body.blake .site-nav a {
  color: #4da195;
}
body.blake .site-nav a:hover {
  color: rgba(77, 161, 149, 0.8);
}
body.blake .site-nav.menu-open {
  background-color: rgba(255, 255, 255, 0.85);
}
body.jamaica {
  background-color: #009b3a;
}
body.jamaica .logo {
  fill: #fed100;
}
body.jamaica .logo:hover {
  fill: rgba(254, 209, 0, 0.8);
}
body.jamaica .bar:before,
body.jamaica .bar:after,
body.jamaica .bar {
  background-color: #fed100;
}
body.jamaica .bar:before:hover,
body.jamaica .bar:after:hover,
body.jamaica .bar:hover {
  background-color: rgba(254, 209, 0, 0.8);
}
body.jamaica .site-nav a {
  color: #fed100;
}
body.jamaica .site-nav a:hover {
  color: rgba(254, 209, 0, 0.8);
}
body.jamaica .site-nav.menu-open {
  background-color: rgba(0, 155, 58, 0.85);
}
body.dessa {
  background-color: #125480;
}
body.dessa .logo {
  fill: #ca3197;
}
body.dessa .logo:hover {
  fill: rgba(202, 49, 151, 0.8);
}
body.dessa .bar:before,
body.dessa .bar:after,
body.dessa .bar {
  background-color: #ca3197;
}
body.dessa .bar:before:hover,
body.dessa .bar:after:hover,
body.dessa .bar:hover {
  background-color: rgba(202, 49, 151, 0.8);
}
body.dessa .site-nav a {
  color: #ca3197;
}
body.dessa .site-nav a:hover {
  color: rgba(202, 49, 151, 0.8);
}
body.dessa .site-nav.menu-open {
  background-color: rgba(18, 84, 128, 0.85);
}
body.best-2014 {
  background-color: black;
}
body.best-2014 .logo {
  fill: #c6d300;
}
body.best-2014 .logo:hover {
  fill: rgba(198, 211, 0, 0.8);
}
body.best-2014 .bar:before,
body.best-2014 .bar:after,
body.best-2014 .bar {
  background-color: #c6d300;
}
body.best-2014 .bar:before:hover,
body.best-2014 .bar:after:hover,
body.best-2014 .bar:hover {
  background-color: rgba(198, 211, 0, 0.8);
}
body.best-2014 .site-nav a {
  color: #c6d300;
}
body.best-2014 .site-nav a:hover {
  color: rgba(198, 211, 0, 0.8);
}
body.best-2014 .site-nav.menu-open {
  background-color: rgba(0, 0, 0, 0.85);
}
body.flex {
  background-color: #e16f0e;
}
body.flex .logo {
  fill: #e9cf31;
}
body.flex .logo:hover {
  fill: rgba(233, 207, 49, 0.8);
}
body.flex .bar:before,
body.flex .bar:after,
body.flex .bar {
  background-color: #e9cf31;
}
body.flex .bar:before:hover,
body.flex .bar:after:hover,
body.flex .bar:hover {
  background-color: rgba(233, 207, 49, 0.8);
}
body.flex .site-nav a {
  color: #e9cf31;
}
body.flex .site-nav a:hover {
  color: rgba(233, 207, 49, 0.8);
}
body.flex .site-nav.menu-open {
  background-color: rgba(0, 0, 0, 0.85);
}

.featured-image.blake {
  background: url(/img/posts/james-blake/blake-body-repeat.jpg) no-repeat top center;
  display: block;
  line-height: 0;
  -webkit-animation-name: bg_special;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: bg_special;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: bg_special;
          animation-name: bg_special;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.featured-image.state-of-tv {
  background: url(/img/posts/state-of-tv/tv_bg.png) repeat top center;
  display: block;
  line-height: 0;
  -webkit-animation-name: bg_tv;
  -webkit-animation-duration: .1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: bg_tv;
  -moz-animation-duration: .1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: bg_tv;
          animation-name: bg_tv;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bg_special {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right top;
  }
}
@keyframes bg_special {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right top;
  }
}
@-webkit-keyframes bg_tv {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}
@keyframes bg_tv {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}
@media (min-width: 490px) {
  body.album-review h2 + p {
    width: 40.42553%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  body.album-review p + p {
    clear: both;
  }
  body.album-review h2 {
    width: 57.44681%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6.66667px;
    clear: right;
  }
  body.album-review h3 {
    clear: both;
    padding-bottom: 20px;
  }
}
body.album-review iframe {
  margin-bottom: 20px;
}

/* Page Content styles */
/* ----------------------------------------------------------*/
.page-wrapper.about-color {
  background-color: rgba(255, 255, 255, 0.9);
}

/* Page Content Styles */
.page-content {
  margin: 0 0 1.875em;
}
@media (min-width: 768px) {
  .page-content .page {
    width: 74.46809%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 1024px) {
  .page-content .page {
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 1280px) {
  .page-content .page {
    width: 57.44681%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
.page-content .page.about {
  clear: both;
}

/* About Page */
@media (min-width: 768px) {
  .top.about {
    width: 48.93617%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-top: 60px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .top.about {
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 1280px) {
  .top.about {
    width: 74.46809%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}

@media (min-width: 768px) {
  .photo.me {
    width: 48.93617%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 1024px) {
  .photo.me {
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .photo.me {
    width: 23.40426%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

.photo {
  margin: 2em 0;
  padding: 0 1em;
}

@media (min-width: 768px) {
  .dog {
    width: 50%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 0%;
  }
}
.dog h4,
.dog h5 {
  margin: 0 1em;
  padding: .5em 0;
  text-align: center;
  clear: both;
}
.dog h4 {
  border-bottom: 0.2em double #4da195;
}
.dog h4 span {
  font-weight: 600;
}

.top {
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
}
.top.archive h1 {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.top.archive .button.by-category {
  text-align: center;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.page-wrapper.archive-color {
  max-width: 900px;
}

.browse-by-category {
  font-size: 18px;
  visibility: hidden;
}
.browse-by-category.active {
  background: #4f4f4f;
  overflow: hidden;
  visibility: visible;
}
@media (min-width: 600px) {
  .browse-by-category.active {
    border-top: 0.8em solid #363636;
    box-shadow: 0 1px 2px rgba(28, 28, 28, 0.6);
  }
}
.browse-by-category.active ul {
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  opacity: 1;
  visibility: visible;
  height: auto;
}
.browse-by-category ul {
  padding: .5em;
  margin: 0;
  height: 0;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  opacity: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.browse-by-category ul li {
  list-style: none;
  margin: 0;
  padding: 2px;
  -webkit-flex: 1 auto;
      -ms-flex: 1 auto;
          flex: 1 auto;
}
.browse-by-category a {
  padding: .5em;
  display: block;
  color: #b5b5b5;
  background: #1c1c1c;
  -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
  text-align: center;
}
.browse-by-category a:hover {
  color: white;
  background: #1c1c1c;
}

.toggle-it {
  margin-top: -9999em;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.toggle-it.active {
  display: block;
  margin-top: 0;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  z-index: 10;
  opacity: 1;
  visibility: visible;
}

.icon {
  width: 22px;
  overflow: hidden;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  display: inline-block;
  padding-bottom: 22px;
  height: 0;
  vertical-align: middle;
}
.icon.icon-tags {
  background: transparent url('/img/icons/chevron-circle-down.svg?1423363298') center center no-repeat;
  background-size: contain;
}
.icon.icon-send {
  background: transparent url('/img/icons/paper-plane.svg?1423422181') center center no-repeat;
  background-size: contain;
}

fieldset {
  border: none;
  padding: 20px 0;
}

label {
  display: block;
}

input {
  width: 100%;
}
@media (min-width: 600px) {
  input {
    width: 60%;
  }
}

textarea {
  width: 100%;
  height: auto;
}
@media (min-width: 600px) {
  textarea {
    width: 80%;
  }
}

input,
textarea {
  border: 4px solid #1c1c1c;
  padding: 10px;
}

input:focus,
textarea:focus {
  border: 4px solid #92b82b;
  outline: #92b82b;
}

form input[type="submit"],
form a.button {
  font-family: "proxima-nova", sans-serif;
  padding: 10px 40px;
  background: #a2cd30;
  color: #303c0e;
  border: 0.1em solid #617a1d;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: background, 0.2s, ease;
  transition: background, 0.2s, ease;
  vertical-align: middle;
  text-align: center;
}
@media (min-width: 600px) {
  form input[type="submit"],
  form a.button {
    display: inline-block;
    text-align: left;
  }
}
form input[type="submit"] span,
form a.button span {
  padding-left: .2em;
  vertical-align: middle;
}
form input[type="submit"] .icon-send,
form a.button .icon-send {
  background: transparent url('/img/icons/paper-plane-green.svg?1423423267') center center no-repeat;
  background-size: contain;
}
form input[type="submit"]:hover,
form a.button:hover {
  color: #1c1c1c;
  background: white;
  text-decoration: none;
  border-color: #82a326;
}
form input[type="submit"]:hover .icon-send,
form a.button:hover .icon-send {
  background: transparent url('/img/icons/paper-plane.svg?1423422181') center center no-repeat;
  background-size: contain;
}
