---

layout: default

header-class: page-color

meta_title: "Thoughts, work, and nonsense by Minneapolis Designer Joe Tower"

meta_description: "Thoughts, work, and nonsense by Minneapolis Designer Joe Tower"

---

<div class="home">

  <div class="blog-posts">

    <h2>Latest Posts</h2>

    {% assign posts = site.posts | where: "post-type", "article" %}

    <ul class="posts">
      {% for post in posts limit:6  %}
          <li>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <span class="post-link">
              <a href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </span>
          </li>
      {% endfor %}
    </ul>
  </div>

  <div class="work-posts">

    <h2>Latest Work</h2>

    <ul class="posts">
      {% for post in site.categories.work limit:6  %}
        <li>
          <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          <span class="post-link">
            <a href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
            </a>
          </span>
        </li>

      {% endfor %}
    </ul>
  </div>


</div>
