/**
 * @file _fade-out.scss
 * CSS animation for elegant mobile menu fadeOut effects
 */
// Animation
/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
.active {
  .fade-out {
  	opacity:1;  /* make things invisible upon start */
  	-webkit-animation:fadeOut ease-in-out 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  	-moz-animation:fadeOut ease-in-out 1;
  	animation:fadeOut ease-in-out 1;

  	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  	-moz-animation-fill-mode:forwards;
  	animation-fill-mode:forwards;

  	-webkit-animation-duration:.2s;
  	-moz-animation-duration:.2s;
  	animation-duration:.2s;

    &.one {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
    }

    &.two {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay:0.2s;
    animation-delay: 0.2s;
    }

    &.three {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
    }
    &.four {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
    }
    &.five {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
    }

  }

}
