// Footer

.site-footer {
  padding: 0;
  font-family:$sans;
  font-weight: $sans-regular;
  background-color: rgba($black, .8);
  color: darken($white, 5%);

  p {
    color: rgba($white, .6);
    @include font-size(1.8);
    line-height:1.8;
    margin-bottom:0;

    span {

      &.text {
        @include breakpoint($large) {
          display:inline-block;
          float:left;
        }
      }
      &.email {
        display:block;
        @include breakpoint($large) {
          display:inline-block;
          text-align: right;
          padding-left: $space;
          float:right;
        }
      }
    }
  }
}
