// @_forms.scss
// Forms! Yay Forms!
//

form {
  @extend %clearfix;
}
fieldset {
  border: none;
  padding: $space 0;

}
label {
  display: block;
}
input {
  width:100%;

  @include breakpoint($tablet) {
    width:60%;
  }
}
textarea {
  width:100%;
  height:auto;

  @include breakpoint($tablet) {
    width:80%;
  }
}
input,
textarea {
  border:4px solid $jt-gray;
  padding: $space-one-half;
}
input:focus,
textarea:focus {
  border:4px solid $jt-green;
  outline: $jt-green;
}
form {
  input[type="submit"],
  a.button {
    font-family: $sans-condensed;
    padding:$space-one-half $space-double;
    background: lighten($jt-green, 5%);
    color:darken($jt-green, 30%);
    border: .1em solid darken($jt-green, 15%);
    @include border-radius(4px);
    cursor:pointer;
    @include transition(background, 0.2s, ease);
    @extend %clearfix;
    vertical-align:middle;
    text-align:center;
  
    @include breakpoint($tablet) {
      display:inline-block;
      text-align:left;
    }
    span {
      padding-left:.2em;
      vertical-align:middle;
    }
    .icon-send {
      background: transparent image-url('icons/paper-plane-green.svg') center center no-repeat;
      background-size: contain;
    }
    &:hover {
      color: $jt-gray;
      background: $white;
      text-decoration:none;
      border-color: darken($jt-green, 5%);
      .icon-send {
        background: transparent image-url('icons/paper-plane.svg') center center no-repeat;
        background-size: contain;
      }
    }
  }
}
