// @_posts.scss
// Basic post styles - establishing grid spans and padding. _post_colors and _post_special have more specific styles.
//

.meta {
  @extend %clearfix;
  text-align: center;
  .meta-wrap {
    padding-top: $space-double;
    margin:0 auto;
    @extend %clearfix;
    border-top:$space-one-fourth solid rgba($jt-gray, .2);
  }
  .category,
  .tag {
    display:block;
    color:lighten($jt-gray, 55%);
    padding-bottom: $space;
    text-align: left;
    @include breakpoint($large) {
      width:48%;
    }
  }
  .category {
    @include breakpoint($large) {
      float: left;
    }
  }
  .tag {
    @include breakpoint($large) {
      float:right;
      text-align:right;
    }
  }

}

.full-width {
  @extend %clearfix;
  width: 100%;
}

// Post bottom - comemnts and meta
.post-comment-wrap {
  @extend %clearfix;
  width: 100%;
}
.recent {
  display:block;
  margin-bottom: $space-one-half;
  border-bottom: $space-one-tenth solid rgba($jt-gray, .25);
  font-family:$sans;

  @include breakpoint($large) {
    @include grid-span(4,1, $output-style:'float', $gutter:3);
    margin-bottom: 0;
    border: 0;
  }
  h3 {
    margin-bottom: $space-one-third;
  }
  a {
    display:block;
    padding: $space-one-half 0;
  }

  ul {
    margin-left:0;
    li {
      display: inline-block;
      margin-right: $space-one-half;
      list-style: none;
      font-size: 18px;
      @include breakpoint($large) {
        display:block;
        border-bottom: $space-one-tenth solid rgba($jt-gray, .25);
        margin-right: 0;
      }
    }
  }
}
.comments {
  display:block;
  width: 100%;
  padding-top: $space;
  @include breakpoint($large) {
    @include grid-span(8,5, $output-style:'float', $gutter:3);
    padding-top: 0;
  }
}
