// @_wrap_spacing.scss
// Wrap spacing for specific wraps
//

.wrap {
  padding: $space-double;
  margin: 0 auto;

  &.post-head {
    padding: $space $space-double;
    background-color: rgba($white,.95);

    h1 {
      margin-bottom: 0;
    }
  }

  &.post {
    padding: $space-double;
    background-color: rgba($white,.90);
  }

  &.meta-comment {
    padding: $space-double;
    background-color: rgba($white,.80);
  }
  &.header {
    padding: $space-one-half $space-double;
  }
}

.page-wrapper {

  &.about-color {
    background-color: rgba($white,.90);
  }
}
