// @_about_page.scss
// About Page elements
// 


/* About Page */
.top {
  &.about {
    @include breakpoint($tablet) {
      @include grid-span(6,7);  
    }
    @include breakpoint($laptop-thirteen) {    
      @include grid-span(8,1);    
    }      
    @include breakpoint($desktop-medium) {    
      @include grid-span(9,1);    
    }  
  }
}
.photo {
  &.me {
    @include breakpoint($tablet) {    
      @include grid-span(6,1);  
    }
    @include breakpoint($laptop-thirteen) {    
      @include grid-span(4,9); 
      margin:0;   
    }   
     @include breakpoint($desktop-medium) {    
      @include grid-span(3,10);    
    }    
  }
}
.photo {
  margin: 2em 0;
  padding:0 1em;
}

.dog {
  @include breakpoint($tablet) {
    @include grid-span(6,1, $output-style:'float', $gutter:0);
  }
  h4,
  h5 {
    margin:0 1em;
    padding: .5em 0;
    text-align: center;
    clear:both;
  }
  h4 {
    border-bottom:.2em double $jt-blue;
    span {
      font-weight: 600;
    }
  }
}
