// @_about_page.scss
// About Page elements
//


/* About Page */
.top.about {

  @include breakpoint($medium) {
    padding-top: $space-quadruple;
  }
}
.photo {
  &.me {
    margin-right: $space-one-half;
    margin-bottom: $space-one-half;
    display: inline-block;

    @include breakpoint($medium) {
      float: left;
      display: inline-block;
      max-width: 300px;
    }
  }
}

.dog {
  @include breakpoint($medium) {
    @include layout(2) {
      @include grid-span(1,1, $output-style: "float", $gutter:0);
    }
  }

  h4,
  h5 {
    margin:0 1em;
    padding: .5em 0;
    text-align: center;
    clear:both;
  }
  h4 {
    border-bottom:.2em double $jt-blue;
    span {
      font-weight: 600;
    }
  }
}
