// @_about_page.scss
// About Page elements
// 


/* About Page */
.top {
  &.about {
 
    @include breakpoint($tablet-large) {    
      @include grid-span(7,6);  
    }  
    @include breakpoint($laptop-thirteen) {    
      @include grid-span(7,1);    
    }      
    @include breakpoint($desktop-large) {    
      @include grid-span(8,1);    
    }  
  }
}
.photo {
  &.me {
         
  }
}
.photo {
  margin: 2em 0;
  padding:0 1em;
}
.dogs,
.this-site {
  @include grid-span(12,1);  
}
.dog {
  @include grid-span(6,1, $output-style:'float', $gutter:0);
  @include breakpoint($handheld) {
    @include grid-span(12,1, $output-style:'float', $gutter:0);
  }
  h4,
  h5 {
    margin:0 1em;
    padding: .5em 0;
    text-align: center;
    clear:both;
  }
  h4 {
    border-bottom:.2em double $jt-blue;
    span {
      font-weight: 600;
    }
  }
}