// @_album_review.scss
// Layout for best of albums
// 

body {
  &.album-review {
    @include breakpoint($handheld) {
      h2 + p {
        @include grid-span(4, 1);
      }
      p + p {
        clear:both;
      }
      h2 {
        @include grid-span(8, 5);
        clear: right;      
      }
      h3 {
        clear:both;
        padding-bottom: $space;
      }
    }
    iframe {
      margin-bottom: $space;
    }
  }
}
