// @_archive_page.scss
// Archive Page elements
//

.top {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  &.archive {
    @extend %clearfix;

    h1 {
      flex: 1 100%;

      @include breakpoint($tablet) {
        flex: 1 auto;
      }
    }
    .button {
      &.by-category {
        text-align: center;
        flex: 1 100%;

        @include breakpoint($tablet) {
          flex: 0 0 180px;
        }
      }
    }
  }
}
