// @_archive_page.scss
// Archive Page elements
//

.top {
  display: inline-block; /* non-flexbox browsers */
  @include display-flex(flex);
  @include flex-flow(row wrap);
  @include justify-content(space-between);
  @include align-items(center);

  &.archive {
    @extend %clearfix;

    h1 {
      flex: 0 0 auto;
    }
    .button {
      &.by-category {
        text-align: center;
        flex: 0 0 auto;
      }
    }
  }
}
.page-wrapper.archive-page,
.page-wrapper.category-page {
  max-width: 900px;

}
