// @_browse_by_category.scss
// Category List on Archive Page
//

.browse-by-category {
  @extend %clearfix;
  float:left;
  width:100%;
  font-size:18px;
  visibility:hidden;

  &.active {
    background:lighten($jt-gray, 20%);
    overflow:hidden;
    visibility:visible;

    @include breakpoint($tablet) {
      border-top:.8em solid lighten($jt-gray, 10%);
      box-shadow:0 1px 2px rgba($jt-gray, .6);
    }
    ul {
      transition: all 0.5s ease;
      opacity:1;
      visibility:visible;
      height:auto;
    }
  }
  ul {
    padding:.5em;
    margin:  0;
    height:0;
    display:block;
    clear:both;
    @extend %clearfix;
    transition: all 0.5s ease;
    opacity:0;

    li {
      list-style: none;
      margin:0;
      display:block;
      padding:.2em;

      @include breakpoint($handheld) {
        display:inline-block;
      }
      @include breakpoint($tablet) {
        padding:0 0 .4em;
      }
      @include breakpoint($desktop) {
        @include layout(6) {
           @include grid-span(1,1, $output-style:"float", $gutter:0);
        }
      }
      @include breakpoint($desktop-medium) {
        @include layout(8) {
           @include grid-span(1,1, $output-style:"float", $gutter:0);
        }
      }
    }
  }
  a {
    padding:.5em;
    display:block;
    color: lighten($jt-gray, 60%);
    background: $jt-gray;
    transition:  all 0.3s ease 0s;
    text-align: center;
    @include breakpoint($handheld) {
      display:inline-block;
      text-align: left;
      padding:.3em .6em;
    }
    @include breakpoint($desktop) {
      width:100%;
      text-align: center;
    }
    &:hover {
      color:$white;
      background: $jt-gray;
    }
  }
}
