// @_container.scss
// Container and structural styles
// 


::selection {
  color: $white;
  background: $jt-green;
} 

section,
.section {
  @extend %clearfix;
}

hr {
  border: 0;
  height: em(2);
  margin: em(40) 0 em(60);
  background-image: linear-gradient(left, 
    rgba(0,0,0,0), 
    rgba(0,0,0,0.55), 
    rgba(0,0,0,0)
  );
  position:relative;

  @extend %clearfix;  
}