// @_container.scss
// Container and structural styles
// 


::selection {
  color: $white;
  background: $jt-green;
} 

section,
.section {
  @extend %clearfix;
}

hr {
  border: 0;
  height: $space-one-fourth;
  margin: $space-triple 0 $space-triple;
  background-color: rgba($jt-gray, .2);
  position:relative;

  @extend %clearfix;  
}
