// @_flex.scss
// using flex elements
//

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.page-wrapper {
  flex: 1 0 auto;
}
.site-header,
.site-footer,
.featured-image,
.post-header,
.summary {
  flex: none;
}
