//////////////////////////////
// footer layout
// @_footer-layout.scss
//////////////////////////////

.site-footer {
  .wrap {
    @include display-flex(flex);
    @include flex-flow(row wrap);
    @include justify-content(center);
    @include align-items(center);
    @include align-content(center);
  }
}

.footer-col-1 {
  @extend %clearfix;
  padding-bottom: $space;
  width: 100%;
}
.footer-col-2 {
  @extend %clearfix;
  border-top: $space-one-tenth solid $link-color;
  padding-top: $space-double;
  width: 100%;
}

.site-footer ul {
  list-style: none;
  @extend %clearfix;

  @include display-flex(flex);
  @include flex-flow(row wrap);
  @include justify-content(center);
  @include align-items(center);
  @include align-content(center);

  @include breakpoint($tablet) {
    text-align:center;
  }

  li {
    text-align: center;
    margin: 0;
    padding:2px;
    display: inline-block; /* non-flexbox browsers */
    @include display-flex(flex);
    @include flex(1 0 auto);

    a {
      background-color: rgba($white, .3);
      padding: $space-one-half;
      display: inline-block; /* non-flexbox browsers */
      @include display-flex(flex);
      @include flex(1 0 auto);

      &:hover {
        background-color: rgba($white, .95);
      }
      svg {
        position: relative;
        transition: all 200ms ease-in-out;
        display: inline-block; /* non-flexbox browsers */
        @include display-flex(flex);
        @include flex(1 0 auto);
      }
    }
  }
}
