// Footer

.site-footer {
  padding: em(30) 0;
  @include grid-span(12,1);
  background-color: rgba($black, .8);
  color: darken($white, 5%);
  p {
    color: rgba($white, .6);
    font-size: em(16);
    font-weight: 400;
    span {
      &.text {
        @include breakpoint($desktop) {
          @include grid-span(5, 1, $output-style:'float');
        }   
        @include breakpoint($laptop-thirteen) {
          @include grid-span(6, 1, $output-style:'float');   
        }
        @include breakpoint($tablet-large) {
          @include grid-span(12, 1, $output-style:'float');        
        }         
      }
      &.email {
        @include breakpoint($desktop-large) {
          display:block;
          clear:left;
        }
        @include breakpoint($desktop) {
          @include grid-span(7, 6, $output-style:'float');
          text-align: right;
        } 
        @include breakpoint($laptop-thirteen) {
          @include grid-span(6, 7, $output-style:'float');
          text-align: right;      
        }  
        @include breakpoint($tablet-large) {
          @include grid-span(12, 1, $output-style:'float');  
          text-align: left;      
        }            
      }
    }
  }  
}

.footer-col-1 {
  @include breakpoint($desktop-huge) {
    @include grid-span(4, 1, $output-style:'float');
  }
  @include breakpoint($desktop-large) {
    @include grid-span(5, 1, $output-style:'float');
  }  
  @include breakpoint($desktop-medium) {
    @include grid-span(6, 1, $output-style:'float');
  } 
  @include breakpoint($desktop) {
    @include grid-span(12, 1, $output-style:'float');
    padding-bottom: 1em;
  }   
  @include breakpoint($laptop-thirteen) {
    @include grid-span(12, 1, $output-style:'float');
    padding-bottom: 1em;
  }     
}
.footer-col-2 {
  @include breakpoint($desktop-huge) {
    @include grid-span(8, 5, $output-style:'float');
  }
  @include breakpoint($desktop-large) {
    @include grid-span(7, 6, $output-style:'float');    
  }  
  @include breakpoint($desktop-medium) {
    @include grid-span(6, 7, $output-style:'float');
  }   
  @include breakpoint($desktop) {
    @include grid-span(12, 1, $output-style:'float');
    border-top: 1px solid $jt-olive;
    padding-top: 2em;
  }     
  @include breakpoint($laptop-thirteen) {
    @include grid-span(12, 1, $output-style:'float');
    border-top: 1px solid $jt-olive;
    padding-top: 2em;
  }     
}

.site-footer ul {
  list-style: none; 
  @include grid-span(12,1); 
  li {
    display: inline-block;
    clear: none;
    text-align: center;
    margin: 0 .4em .8em;
    a {
      display: block;
      background-color: rgba($white, .8);
      float: left;
      padding: .5em;
      @include border-radius(26px); 
      &:hover {
        background-color: rgba($white, .95);
      }
      svg {
        display: block;
        position: relative;
        margin: 0 auto;
        transition: all 200ms ease-in-out;      
        &:hover {
          filter: url(#blur-less);
        }
      }      
    }
  }
}

