// Footer

.site-footer {
  padding: em(30) 0;
  background-color: rgba($black, .8);
  color: darken($white, 5%);
  @extend %clearfix;  

  p {
    color: rgba($white, .6);
    font-size: em(16);
    font-weight: 400;
    span {
      &.text {
        @extend %clearfix;  
        @include breakpoint($laptop-thirteen) {
          @include grid-span(6, 1, $output-style:'float');   
        }  
        @include breakpoint($desktop) {
          @include grid-span(5, 1, $output-style:'float');
        }    
      }
      &.email {
        @extend %clearfix;  
        @include breakpoint($laptop-thirteen) {
          @include grid-span(6, 7, $output-style:'float');
          text-align: right;      
        }  
        @include breakpoint($desktop) {
          @include grid-span(7, 6, $output-style:'float');
          text-align: right;
        } 
        @include breakpoint($desktop-large) {
          display:block;
          clear:left;
        }           
      }
    }
  }  
}

.footer-col-1 {
  @extend %clearfix;  
  padding-bottom: $space-one-third;

  @include breakpoint($desktop-medium) {
    @include grid-span(6, 1);
     padding-bottom: none;   
  } 
}
.footer-col-2 {
  @extend %clearfix;  
   border-top: $space-one-tenth solid $jt-olive;
  padding-top: $space;

  @include breakpoint($desktop-medium) {
    @include grid-span(6, 7);
     border-top: none;
    padding-top: 0;   
  }   

}

.site-footer ul {
  list-style: none; 
  @extend %clearfix;  

  @include breakpoint($desktop-medium) {
    float:right;
  }
  li {
    display: inline-block;
    clear: none;
    text-align: center;
    margin: 0 $space-one-third $space-one-fifth;
    a {
      display: inline-block;
      background-color: rgba($white, .8);
      padding: .5em;
      @include border-radius($space); 
      &:hover {
        background-color: rgba($white, .95);
      }
      svg {
        display: block;
        position: relative;
        margin: 0 auto;
        transition: all 200ms ease-in-out;      
        &:hover {
          filter: url(#blur-less);
        }
      }      
    }
  }
}

