// Footer

.site-footer {
  padding: 0;
  font-family:$serif;
  background-color: rgba($black, .8);
  color: darken($white, 5%);
  @extend %clearfix;

  p {
    color: rgba($white, .6);
    font-size: 16px;
    line-height:1.8;
    font-weight: 400;
    margin-bottom:0;

    span {

      &.text {
        @include breakpoint($laptop-thirteen) {
          display:inline-block;
          float:left;
        }
      }
      &.email {
        display:block;
        @include breakpoint($laptop-thirteen) {
          display:inline-block;
          text-align: right;
          padding-left: $space;
          float:right;
        }
      }
    }
  }
}

.footer-col-1 {
  @extend %clearfix;
  padding-bottom: $space;
}
.footer-col-2 {
  @extend %clearfix;
  border-top: $space-one-tenth solid $jt-olive;
  padding-top: $space-double;
}

.site-footer ul {
  list-style: none;
  @extend %clearfix;

  @include breakpoint($tablet) {
    text-align:center;
  }

  li {
    display: inline-block;
    clear: none;
    text-align: center;
    margin: 0 $space-one-third $space-one-fifth;
    a {
      display: inline-block;
      background-color: rgba($white, .8);
      padding: $space-one-half;
      @include border-radius($space-double);
      &:hover {
        background-color: rgba($white, .95);
      }
      svg {
        display: block;
        position: relative;
        margin: 0 auto;
        transition: all 200ms ease-in-out;
        &:hover {
          filter: url(#blur-less);
        }
      }
    }
  }
}
