// @_forms.scss
// Forms! Yay Forms!
//

form {
  @extend %clearfix;  
}
fieldset {
  border: none;
  padding: $space 0;

}
label {
  display: block;
}
input {
  width:100%;

  @include breakpoint($tablet) {    
    width:60%;
  }  
}
textarea {
  width:100%;
  height:auto;

  @include breakpoint($tablet) {    
    width:80%;
  }  
}
input,
textarea {
  border:4px solid $jt-gray;
  padding: .5em;
  float: left;
}
input:focus,
textarea:focus {
  border:4px solid $jt-green;
  outline: $jt-green;
}
