// @_header.scss
// Header elements
// 

.site-header {
  @extend %clearfix;
  
  &.page-color {
    background-color: rgba($jt-green, .8);    
  }
  &.about-color {
    @include breakpoint($tablet) {    
      background-color: rgba($black,.40);
    } 
  }  

  .logo-wrap {
    @include grid-span(4,1);
  }
  .logo {
    fill: $white; 
    &:hover {
      filter: url(#blur-more);
      fill: rgba($white, 0.7);
    }
    svg {
      transition: all 200ms ease-in-out;
      max-width: 100%;
      height: auto;
    }
  }

  .site-nav {
    @include grid-span(8,5);

    a {
      color: $white;
      display: block;
      &:hover {
        color: rgba($white, .75);
        text-decoration: none;
      }
    } 
    .menu {
      margin: 0;
      padding: 0;
      float: right;
      text-align: right;
      li {
        list-style-type: none;
        display:block;

        @include breakpoint($nav) {    
          text-align: right;
          margin: 0 0 0 $space;
          display: inline-block;
        }
        &.first {
          margin-left: 0;
        }
        &.active {
          a,
          a:hover {
            color: rgba($white, .65);
          }
        }             
      }
    }
    .menu-icon { 
      display: none;
    }
  }
}
