// @_header.scss
// Header elements
//

.site-header {
  &.page-color {
    background-color: rgba($black, .8);
  }
  &.about-color {
    @include breakpoint($tablet) {
      background-color: rgba($black,.40);
    }
  }

  .logo {
    fill: $white;
    line-height:0;
    svg {
      transition: all 200ms ease-in-out;
    }
    &:hover {
      fill: rgba($white, 0.7);
    }
  }
  .site-nav {
    display: inline-block; /* non-flexbox browsers */
    @include display-flex(flex);
    width: 100%;
    a {
      color: $white;
      display: block;
      line-height: 60px;
      &:hover {
        color: rgba($white, .75);
        text-decoration: none;
      }
    }
    .menu {
      margin: 0;
      padding: 0;
      text-align: center;
      @include display-flex(flex);
      @include flex-flow(row nowrap);
      @include justify-content(flex-end);
      @include align-items(stretch);
      @include align-content(stretch);
      width: 100%;

      @include breakpoint($x-large) {
        @include justify-content(flex-end);
        @include align-items(flex-end);
        @include align-content(flex-end);
      }
      li {
        list-style-type: none;
        margin:0;
        display: inline-block; /* non-flexbox browsers */
        @include display-flex(flex);
        @include flex(1 0 auto);
        
        &.first {
          margin-left: 0;
        }
        a {
          width: 100%;
          text-align: right;
        }
        &.active {
          a,
          a:hover {
            color: rgba($white, .65);
          }
        }
      }
    }
  }
}
