// @_header.scss
// Header elements
// 

.site-header {
  @include grid-span(12,1);
  &.page-color {
    background-color: rgba($jt-green, .8);    
  }
  &.about-color {
    @include breakpoint($tablet-large) {    
      background-color: rgba($black,.40);
    } 
  }  
  .logo-wrap {
    @include grid-span(3,1);
  }
  .logo {
    fill: $white; 
    &:hover {
      filter: url(#blur-more);
      fill: rgba($white, 0.7);
    }
    svg {
      transition: all 200ms ease-in-out;
    }
  }
  .site-nav {
    @include grid-span(9,4);
    a {
      color: $white;
      display: block;
      &:hover {
        color: rgba($white, .75);
        text-decoration: none;
      }
    } 
    .menu {
      margin: 0;
      padding: 0;
      float: right;
      li {
        list-style-type: none;
        margin-left: em(20);
        display: inline;
        float: left;  
        @include breakpoint($nav) {    
          text-align: right;
          margin: 0;
          width: 100%;
        }
        &.first {
          margin-left: 0;
        }
        &.active {
          a,
          a:hover {
            color: rgba($white, .65);
          }
        }             
      }
    }
    .menu-icon { 
      display: none;
    }
  }
}
