// @_icons.scss
// Icons and stuff
//


// icon-only, as background image
.icon {
  width: 22px;
  overflow: hidden;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  display: inline-block;
  padding-bottom:22px;
  height: 0;
  vertical-align:middle;

  &.icon-tags {
    background: transparent image-url('icons/chevron-circle-down.svg') center center no-repeat;
    background-size: contain;
  }
  &.icon-send {
    background: transparent image-url('icons/paper-plane.svg') center center no-repeat;
    background-size: contain;
  }
}
