// @_images.scss
// Images - special cases throughout the site.
//


img {
  &.profile,
  &.dogs {
    margin: 0 auto;
    display: block;
    border-style: solid;
    border-color: transparent;
    @include border-radius(400px);
    padding:$space;
    border-width:$space-one-half;
  }
}
