// Links
a,
a:visited {
  color: darken($jt-green, 15%);
  &:hover {
    color: $jt-green;
    text-decoration: none;
  }
}

button,
.button,
input[type="submit"] {
  padding:$space-one-half $space;
  background: $white;
  color: darken($jt-green, 15%);
  border: .2em solid darken($jt-green, 15%);
  @include border-radius(4px);
  font-weight: 600;
  cursor:pointer;
  display:block;
  @include transition(background, 0.2s, ease);

  @extend %clearfix;  

  &:hover {
    background: $jt-green;
    color:$white;
    border-color: darken($jt-green, 5%);
  }
  &.active {
    background: lighten($jt-gray, 30%);
    color: darken($white, 10%);
    border-color: lighten($jt-gray, 30%);  
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;   
  }
}
