// Links
a,
a:visited {
  color: darken($jt-green, 15%);
  &:hover {
    color: $jt-green;
    text-decoration: none;
  }
  .post-content &,
  .page-content & {
    color: darken($jt-green, 10%);
    font-family: $serif;
    border-bottom: $space-one-eighth solid $jt-yellow;
    &:visited {
      color: darken($jt-green, 25%);
    }
    &:hover {
      color: darken($jt-green, 15%);
      background-color: $jt-yellow;
      text-decoration: underline;
    }
  }
}

button,
.button,
input[type="submit"] {
  padding:$space-one-third $space;
  background: $white;
  color: darken($jt-green, 15%);
  border: .1em solid darken($jt-green, 15%);
  @include border-radius(4px);
  font-weight: 600;
  cursor:pointer;
  display:block;
  @include transition(background, 0.2s, ease);
  @extend %clearfix;

  &:hover {
    background: $jt-green;
    color:$white;
    border-color: darken($jt-green, 5%);
  }
  &.active {
    background: lighten($jt-gray, 30%);
    color: darken($white, 10%);
    border-color: lighten($jt-gray, 30%);
  }

  &.by-category.toggle {
    border-color:lighten($jt-gray, 40%);
    color: lighten($jt-gray, 20%);
    font-size:16px;
    padding-top:$space-one-half;
    padding-bottom:$space-one-half;
    border-radius:0;
    @include breakpoint($tablet) {
      @include border-radius(4px);
    }
    &:hover {
      background: lighten($jt-gray, 20%);
      color:$white;
      border-color: $jt-gray;
      .icon-tags {
        background: transparent image-url('icons/chevron-circle-down-white.svg') center center no-repeat;
        background-size: contain;
      }
    }
    &.active {
      background: lighten($jt-gray, 20%);
      box-shadow:inset 0 0 4px rgba($jt-gray, .9);
      color: lighten($jt-gray, 55%);
      border-color: lighten($jt-gray, 20%);
      &:hover {
        background: lighten($jt-gray, 20%);
        color: lighten($jt-gray, 55%);
        border-color: lighten($jt-gray, 20%);
        .icon-tags {
          background: transparent image-url('icons/chevron-circle-up-white.svg') center center no-repeat;
          background-size: contain;
        }
      }
      .icon-tags {
        opacity:.6;
        background: transparent image-url('icons/chevron-circle-up-white.svg') center center no-repeat;
        background-size: contain;
      }
    }
    .icon {
      padding-right:$space-double;
    }
  }
}
