//////////////////////////////
// page layout
// @_page-layout.scss
//////////////////////////////

body {
  @include display-flex(flex);
  @include flex-flow(column nowrap);
  @include align-items(center);

  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100vh;
}
.site-header,
.site-footer,
.post-header,
.page-wrapper,
.summary {
  @include display-flex(flex);
  @include flex-flow(row wrap);
  @include flex(1 0 auto);
  width: 100%;
}
