// @_pages.scss
// Page content elements
// 

/* Page Content styles */
/* ----------------------------------------------------------*/


.page-wrapper {
  @include clearfix;
  &.about-color {
    background-color: rgba($white,.90);    
  }
}

// Page styles
.page-wrap {
  @include clearfix;
}

/* Page Content Styles */
.page-content { 
  margin: 0 0 em(30);
  @include clearfix;

  .page { 
    @include breakpoint($desktop) {
      @include grid-span(9,1);
    }
    
    @include breakpoint($laptop-thirteen) {    
      @include grid-span(8,1);
    }

    @include breakpoint($desktop-medium) {
      @include grid-span(7,1);
    }
    
    @include breakpoint($desktop-large) {
      @include grid-span(7,1);
    }


    &.about {
      clear:both;
    }    
  }
}
