// @_posts.scss
// Basic post styles - establishing grid spans and padding. _post_colors and _post_special have more specific styles.
//

.meta {
  @extend %clearfix;  
  margin: 0;
  text-align: center;

  .category,
  .tag {
    display:block;
    color:lighten($jt-gray, 55%);
    padding-bottom: $space;
    text-align: left;
  }
}

.full-width {
  @extend %clearfix;  
}

.post-header { 

  .meta {
    display:block;
    padding: $space-one-half 0;
    border-bottom:$space-one-fourth solid lighten($jt-gray, 75%);
    margin-bottom: $space;

    @include breakpoint($laptop-thirteen) {    
      display:inline-block;
      border-bottom: none;
      margin-bottom: 0;
      vertical-align: text-bottom;
    } 
  }
  h1 {
    @include breakpoint($laptop-thirteen) {    
      display:inline-block;
      margin-left: $space;
    }    
  }
}

/* Post Content Styles */
.post-content { 
  margin: 0 0 $space-double; 

  @include breakpoint($handheld) {    
    @include grid-span(10,1, $output-style:'float');
  }  
  @include breakpoint($laptop-thirteen) {    
    @include grid-span(8,1, $output-style:'float');
  }
  @include breakpoint($desktop) {
    @include grid-span(9,1, $output-style:'float');
  }
  @include breakpoint($desktop-medium) {
    @include grid-span(7,1, $output-style:'float');
  }
   @include breakpoint($desktop-large) {
    @include grid-span(8,1, $output-style:'float');
  } 
  @include breakpoint($desktop-huge) {
    @include grid-span(9,1, $output-style:'float');
  }
   
  ul,
  ol { 
    padding-left: $space; 
    margin-bottom: $space-double;
  }  
}
.post-content blockquote,
.page-content blockquote {
  color: $jt-gray;
  margin: $space-double 0;
  padding-left: $space;
  border-left: $space solid $jt-blue;
  cite {
   color: lighten($jt-gray, 30%);
  }
}

.post {
  @extend %clearfix;  

  pre,
  code {
    border: $space-one-sixth solid $jt-brown;
    background-color: $jt-yellow;
    color:$jt-brown;
    overflow:scroll;
    padding: $space;
    @extend %clearfix; 
    display:block;
  }
  pre code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }  
  pre.terminal {
    border: $space-one-third solid #000;
    background-color: #333;
    color: #FFF;
    @include border-radius(3px);
    code { 
      background-color: #333;
    } 
  }
  ul,
  ol { 
    margin-left: 1.35em; 
  }  
}

// Post bottom - comemnts and meta
.post-comment-wrap {
  @extend %clearfix;  

}
.recent {
  display:block;
  @include breakpoint($laptop-thirteen) {
    @include grid-span(4,1, $output-style:'float', $gutter:3);
  } 
  
  a {
    display:block;
    padding: $space-one-half 0;
  }

  ul {
    li {
      border-bottom: $space-one-tenth solid rgba($jt-gray, .55);
      list-style: none;
      font-size: 18px;
    }
  }
}
.comments {
  display:block;
  padding-top: $space; 
  @include breakpoint($laptop-thirteen) {
    @include grid-span(8,5, $output-style:'float', $gutter:3);  
    padding-top: 0; 
  }
}

/* Post ul styles */
/* ----------------------------------------------------------*/
.posts { 
  list-style-type: none;
  padding-top: $space; 
  
  @extend %clearfix;  

  &.archive {
    padding-top: $space-double; 
  }

  a {
    display:block;
  }

  li { 
    margin-bottom: $space-double;
    display:block;

    @extend %clearfix;  
  }
  .post-date {
    padding: $space-one-third 0;
    display: block;

    @include breakpoint($laptop-thirteen) {
      @include grid-span(3,1);
    }  
    
    @include breakpoint($desktop-large) {
      border:$space-one-fourth solid lighten($jt-gray, 75%);
      text-align: center;
    }  

  }
  .post-link {

    @include breakpoint($laptop-thirteen) {
      @include grid-span(10,3);
    }    

  }  
}
