// @_post_colors.scss
// Body colors for special posts - custom designed posts.
//

body {
  &.dark {
    background-color: $black;
  }
  &.dark-texture {
    background-image: url(/img/tpl/dark-texture.png);
    background-repeat: repeat;
    background-color: $black;
  }
  &.light {
    background-color:rgba($jt-gray, .15);
    .logo {
      fill: $jt-gray;
      &:hover {
        fill: rgba($jt-gray, .8);
      }
    }
    .bar:before,
    .bar:after,
    .bar {
      background-color: $jt-gray;
      &:hover {
        background-color: rgba($jt-gray, .8);
      }
    }
    .site-nav {
      a {
        color: $jt-gray;
        &:hover {
          color: rgba($jt-gray, .75);
        }
      }
      &.menu-open {
        background-color: rgba($white, .85);
      }
    }
  }
  &.about-color {
    background-color: $jt-brown;
    .logo {
      fill: $jt-yellow;
      &:hover {
                fill: rgba($jt-yellow, .8);
      }
    }
    .bar:before,
    .bar:after,
    .bar {
      background-color: $jt-yellow;
      &:hover {
        background-color: rgba($jt-yellow, .8);
      }
    }
    .site-nav {
      a {
        color: $jt-yellow;
        &:hover {
          color: rgba($jt-yellow, .8);
        }
      }
      &.menu-open {
        background-color: rgba($jt-brown, .85);
      }
    }
  }
  &.ex-cop {
    background-color: $excop;
    .site-nav {
      &.menu-open {
        background-color: rgba($excop, .85);
      }
    }
  }
  &.brown {
    background-color: $jt-brown;
    .site-nav {
      &.menu-open {
        background-color: rgba($jt-brown, .85);
      }
    }
  }
  &.british-blue {
    background-color: $british-blue;
    .site-nav {
      &.menu-open {
        background-color: rgba($british-blue, .85);
      }
    }
  }
  &.design-for-one {
    background-color: $design-for-one;
    .site-nav {
      &.menu-open {
        background-color: rgba($design-for-one, .85);
      }
    }
  }
  &.design-for-two {
    background-color: $design-for-two;
    .site-nav {
      &.menu-open {
        background-color: rgba($design-for-two, .85);
      }
    }
  }
  &.saul-purple {
    background-color: $saul-purple;
    .site-nav {
      &.menu-open {
        background-color: rgba($saul-purple, .85);
      }
    }
  }
  &.drupal-blue {
    background-color: $drupal-blue;
    .site-nav {
      &.menu-open {
        background-color: rgba($drupal-blue, .85);
      }
    }
  }
  &.drupal-blue2 {
    background-color: $drupal-blue2;
    .site-nav {
      &.menu-open {
        background-color: rgba($drupal-blue2, .85);
      }
    }
  }
  &.drupal-green {
    background-color: $drupal-green;
    .site-nav {
      &.menu-open {
        background-color: rgba($drupal-green, .85);
      }
    }
  }
  &.drupal-green2 {
    background-color: $drupal-green2;
    .site-nav {
      &.menu-open {
        background-color: rgba($drupal-green2, .85);
      }
    }
  }
  &.eyedea {
    background-color:$eyedea;
    .site-nav {
      &.menu-open {
        background-color: rgba($eyedea, .85);
      }
    }
  }
  &.never-better {
    background-color: $never-better;
    .logo {
      fill: $jt-yellow;
      &:hover {
                fill: rgba($jt-yellow, .8);
      }
    }
    .bar:before,
    .bar:after,
    .bar {
      background-color: $jt-yellow;
      &:hover {
        background-color: rgba($jt-yellow, .8);
      }
    }
    .site-nav {
      a {
        color: $jt-yellow;
        &:hover {
          color: rgba($jt-yellow, .8);
        }
      }
      &.menu-open {
        background-color: rgba($never-better, .85);
      }
    }
  }
  &.dapper-green {
    background-color: $dapper-green;
    .site-nav {
      &.menu-open {
        background-color: rgba($dapper-green, .85);
      }
    }
  }
  &.gossip-purple {
    background-color: $gossip-purple;
    .logo {
      fill: $jt-orange;
      &:hover {
                fill: rgba($jt-orange, .8);
      }
    }
    .bar:before,
    .bar:after,
    .bar {
      background-color: $jt-orange;
      &:hover {
        background-color: rgba($jt-orange, .8);
      }
    }
    .site-nav {
      a {
        color: $jt-orange;
        &:hover {
          color: rgba($jt-orange, .8);
        }
      }
      &.menu-open {
        background-color: rgba($white, .85);
      }
    }
  }
  &.awake {
    background-color: $tycho;
    .site-nav {
      &.menu-open {
        background-color: rgba($tycho, .85);
      }
    }
  }
  &.lazerbeak {
    background-color: $lazerbeak;
     .site-nav {
      &.menu-open {
        background-color: rgba($lazerbeak, .85);
      }
    }
  }
  &.blake {
    .logo {
      fill: $jt-blue;
      &:hover {
                fill: rgba($jt-blue, .8);
      }
    }
    .bar:before,
    .bar:after,
    .bar {
      background-color: $jt-blue;
      &:hover {
        background-color: rgba($jt-blue, .8);
      }
    }
    .site-nav {
      a {
        color: $jt-blue;
        &:hover {
          color: rgba($jt-blue, .8);
        }
      }
      &.menu-open {
        background-color: rgba($white, .85);
      }
    }
  }
  &.jamaica {
    background-color: $jamaica;
    .logo {
      fill: $jamaica-yellow;
      &:hover {
                fill: rgba($jamaica-yellow, .8);
      }
    }
    .bar:before,
    .bar:after,
    .bar {
      background-color: $jamaica-yellow;
      &:hover {
        background-color: rgba($jamaica-yellow, .8);
      }
    }
    .site-nav {
      a {
        color: $jamaica-yellow;
        &:hover {
          color: rgba($jamaica-yellow, .8);
        }
      }
      &.menu-open {
        background-color: rgba($jamaica, .85);
      }
    }
  }
  &.dessa {
    background-color: $dessa-blue;
    .logo {
      fill: $dessa-pink;
      &:hover {
                fill: rgba($dessa-pink, .8);
      }
    }
    .bar:before,
    .bar:after,
    .bar {
      background-color: $dessa-pink;
      &:hover {
        background-color: rgba($dessa-pink, .8);
      }
    }
    .site-nav {
      a {
        color: $dessa-pink;
        &:hover {
          color: rgba($dessa-pink, .8);
        }
      }
       &.menu-open {
        background-color: rgba($dessa-blue, .85);
      }
    }
  }
  &.best-2014 {
    background-color: $black;
    .logo {
      fill: $aphex-yellow;
      &:hover {
                fill: rgba($aphex-yellow, .8);
      }
    }
    .bar:before,
    .bar:after,
    .bar {
      background-color: $aphex-yellow;
      &:hover {
        background-color: rgba($aphex-yellow, .8);
      }
    }
    .site-nav {
      a {
        color: $aphex-yellow;
        &:hover {
          color: rgba($aphex-yellow, .8);
        }
      }
      &.menu-open {
        background-color: rgba($black, .85);
      }
    }
  }
  &.flex {
    background-color: $flex-orange;
    .logo {
      fill: $flex-yellow;
      &:hover {
                fill: rgba( $flex-yellow, .8);
      }
    }
    .bar:before,
    .bar:after,
    .bar {
      background-color: $flex-yellow;
      &:hover {
        background-color: rgba($flex-yellow, .8);
      }
    }
    .site-nav {
      a {
        color: $flex-yellow;
        &:hover {
          color: rgba($flex-yellow, .8);
        }
      }
      &.menu-open {
        background-color: rgba($black, .85);
      }
    }
  }
}
