// @_summary.scss
// Summary defaults. These are used in blog post summary only.
// 
.summary {
  @extend %clearfix;  

  blockquote,
  blockquote p {
    max-width: 80%;
  }
  .wrap {
    padding: $space-double $space;
    border-left:$space solid darken($white, 65%);    
    background-color: rgba(darken($white, 15%), .90);
    
    @include breakpoint($laptop-thirteen) {
      padding: $space-double;
    }

    &.reviews {
      color:$white;
      border-color: darken($jt-red, 15%);
      background-color: rgba($jt-red, .9);
      @include text-shadow(rgba($black, 0.6) -1px -1px 0 ); 
    }
    &.health {
      color: lighten($jt-yellow, 5%);
      border-color: darken($jt-green, 15%);
      background-color: rgba($jt-green, .85);
      @include text-shadow(rgba($black, 0.6) -1px -1px 0 );       
    }
    &.design {
      color: lighten($jt-orange, 14%);
      border-color: darken($jt-orange-muted, 15%);      
      background-color: rgba($jt-orange-muted, .85);
      @include text-shadow(rgba($black, 0.6) -1px -1px 0 );         
    }
  }
}
