// @_wrap_spacing.scss
// Wrap spacing for specific wraps
// 

.wrap {
    padding: $space $space $space-double;
    margin: 0 auto;
    zoom: 1;

  &.post-head {
    padding: $space $space-double;
    background-color: rgba($white,.95);

    @include breakpoint($laptop-thirteen) {    
      padding: $space-triple $space-double;
    }    
    h1 {
      margin-bottom: 0;
    }
  }

  &.post {
    padding: $space $space-double;
    background-color: rgba($white,.90);

    @include breakpoint($laptop-thirteen) {    
      padding: $space $space-double;
    }      
  }

  &.meta-comment {
    padding: $space-double $space-triple;
    background-color: rgba($white,.80);   
  }  

  &.header {
    padding: $space;

    @include breakpoint($tablet) {
      padding: $space $space-double $space-quintuple;
    }
    @include breakpoint($laptop-thirteen) {
      padding-bottom: $space-septuple;
    } 
    @include breakpoint($desktop) {
      padding-bottom: $space-nonuple;
    }
     @include breakpoint($desktop-medium) {    
      padding-bottom: $space-uncuple;
    }      
    @include breakpoint($desktop-large) {    
      padding-bottom: $space-tredecuple;
    }  
  }    
}
