// @_wrap_colors.scss
// Wrap colors for specific wraps
// 

.wrap {

  &.post-head {
    padding: $space $space-double;
    background-color: rgba($white,.95);

    @include breakpoint($tablet-large) {    
      padding: $space-one-half $space;
    }      
    h1 {
      margin-bottom: 0;
    }
  }

  &.post {
    padding: $space $space-double;
    background-color: rgba($white,.90);

    @include breakpoint($tablet-large) {    
      padding: $space-one-half $space;
    }      
  }

  &.meta-comment {
    padding: $space-double $space-triple;
    background-color: rgba($white,.80);

    @include breakpoint($tablet-large) {    
      padding: $space $space-double;
    }      
  }  
  
  &.header {
    padding: $space $space-double $space-quintuple;

    @include breakpoint($handheld) {    
      padding: $space;
    }   
    @include breakpoint($laptop-thirteen) {    
      padding-bottom: $space-quintuple;
    }  
     @include breakpoint($desktop-medium) {    
      padding-bottom: $space-sextuple;
    }    
    @include breakpoint($tablet-large) {    
      padding: $space $space $space-quadruple;
    }    
    @include breakpoint($desktop-large) {    
      padding-bottom: $space-septuple;
    }  
  }    
}