// @_wrap_spacing.scss
// Wrap spacing for specific wraps
// 

.wrap {
  padding: $space-double;
  margin: 0 auto;
  zoom: 1;

  &.post-head {
    padding: $space $space-double;
    background-color: rgba($white,.95);

    @include breakpoint($laptop-thirteen) {    
      padding: $space-triple $space-double;
    }    
    h1 {
      margin-bottom: 0;
    }
  }

  &.post {
    padding: $space-double;
    background-color: rgba($white,.90);

    @include breakpoint($laptop-thirteen) {    
      padding: $space $space-double;
    }      
  }

  &.meta-comment {
    padding: $space-double;
    background-color: rgba($white,.80);   
  }  
  &.header {
    padding: $space $space-double;  
  }    
}
