// @_wraps.scss
// Wrap defaults - width and padding.
// 

.wrap {
  @extend %clearfix;  
  
  @include breakpoint($laptop-thirteen) {    
    max-width: 60em;
    padding-top: 3em;
  }  
  @include breakpoint($desktop) {
    max-width: 75em;
  }  
  @include breakpoint($desktop-medium) {
    max-width: 81.250em;
  } 
  @include breakpoint($desktop-large) {
    max-width: 87.500em;
  }
  @include breakpoint($desktop-huge) {
    max-width: 100em;
  }

}