// @_wrap_colors.scss
// Wrap colors for specific wraps
// 

.wrap {

  &.post-head {
    padding: $space $space-double;
    background-color: rgba($white,.95);

    @include breakpoint($laptop-thirteen) {    
      padding: $space-triple $space-double;
    }    
    h1 {
      margin-bottom: 0;
    }
  }

  &.post {
    padding: $space $space-double;
    background-color: rgba($white,.90);

    @include breakpoint($laptop-thirteen) {    
      padding: $space $space-double;
    }      
  }

  &.meta-comment {
    padding: $space-double $space-triple;
    background-color: rgba($white,.80);   
  }  

  &.header {
    padding: $space $space-double $space-quintuple;

    @include breakpoint($laptop-thirteen) {    
      padding-bottom: $space-quintuple;
    }  
     @include breakpoint($desktop-medium) {    
      padding-bottom: $space-sextuple;
    }      
    @include breakpoint($desktop-large) {    
      padding-bottom: $space-septuple;
    }  
  }    
}
