// @_wraps.scss
// Wrap defaults.
// 

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  padding:  em(30) em(30) em(40);
  margin: 0 auto;
  zoom: 1;

  @include breakpoint($tablet-large) {    
    padding:  em(60) em(20) 0;
    max-width: em(860);
  } 
  @include breakpoint($laptop-thirteen) {    
    max-width: em(960);
    padding-top: 3em;
  }  

  @include breakpoint($desktop) {
    max-width: em(1200);
  }  
  @include breakpoint($desktop-medium) {
    max-width: em(1300);
  } 
  @include breakpoint($desktop-large) {
    max-width: em(1400);
  }
  @include breakpoint($desktop-huge) {
    max-width: em(1600);
  }

}