<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- google webfonts -->
    <link href='https://fonts.googleapis.com/css?family=Merriweather:700italic,900,900italic,700|Open+Sans:400,400italic,700,700italic,800,800italic|Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
</head>
