// @_about_page.scss
// About Page elements
//


/* About Page */
.photo {
  max-width: 400px;
  margin: 0 auto $space-one-half;

  &.me {
    @include breakpoint($medium) {
      float: left;
      display: inline-block;
      max-width: 300px;
      margin-right: $space-one-half;
    }
  }
}
.dogs {
  @include breakpoint($large) {
    max-width: 80%;
  }
}
.dog {
  @include breakpoint($medium) {
    @include layout(2) {
      @include grid-span(1,1, $output-style: "float", $gutter:0);
    }
  }

  h4,
  h5 {
    margin:0 1em;
    padding: .5em 0;
    text-align: center;
    clear:both;
  }
  h4 {
    border-bottom:.2em double $jt-blue;
    span {
      font-weight: 600;
    }
  }
}
