//////////////////////////////
// Header layout
// @_header-layout.scss
//////////////////////////////

.site-header {
  @extend %clearfix;
  .wrap {
    @include flexbox();
    @include flex-flow(row wrap);
  }
  .top-wrap {
    @extend %clearfix;
    @include flexbox();
    @include flex(1 0 auto);
    @include flex-flow(row wrap);
    @include justify-content(center);
    @include align-items(center);
    @include align-content(space-between);
    width: 100%;

    @include breakpoint($small) {
      @include justify-content(flex-end);
      @include align-items(center);
      @include align-content(space-between);
    }
  }
  .logo-wrap {
    position:relative;
    z-index:10;
    display: inline-block; /* non-flexbox browsers */
    @include flexbox();
    @include flex(0 0 60px);

    @include breakpoint($small) {
      text-align: left;
    }
  }

  .logo {
    display: inline-block; /* non-flexbox browsers */
    @include flexbox();
    @include flex(1 0 auto);
    svg {
      display: inline-block; /* non-flexbox browsers */
      @include flexbox();
      @include flex(1 0 auto);
    }
  }
  .site-nav {
    display: inline-block; /* non-flexbox browsers */
    @include flexbox();
    @include flex(1 0 auto);
    @include flex-flow(row wrap);
  }
  .menu {
    display: inline-block; /* non-flexbox browsers */
    @include flexbox();
    @include flex(1 0 auto);
    @include justify-content(flex-end);
    @include flex-flow(row wrap);

  }
}
