//
// Sass configuration
//
// This is a silent file that only contains internal config used by Sass.
// Nothing in this file is output into the final stylesheet.
//


////////////////////////////
// Cross Browser Support
$graceful-usage-threshold: 100;
$critical-usage-threshold: 100;

$browser-minimum-versions: (
  "ie": "9",
  "android": "4",
  "chrome": "31",
  "safari": "5",
  "firefox": "25",
  "ios-safari": "6.0-6.1",
);

////////////////////////
// Compass Extensions
////////////////////////
@import 'compass';
@import 'breakpoint';
@import 'singularitygs';
@import 'toolkit';
@import 'toolkit/kickstart';

//
// Breakpoints
//
// For oldIE compatability, we enable the no-query fallbacks. Each breakpoint
// will be followed by the same set of arguments since we have a single
// conditional class to indicate that a browser can't cut the mustard.


$tablet:600px;
$handheld: 490px;

$nav: 680px;
$social-icons: 695px;
$archive-page: 610px;
$quotes: 580px;
$quotes-large:740px;

$heading-large:800px;

$small: 380px;
$medium: 768px;
$large: 1024px;
$x-large: 1280px;

//
// Space
//

$space:20px;
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quadruple: $space * 4;
$space-quintuple: $space * 5;
$space-sextuple: $space * 6;
$space-septuple: $space * 7;
$space-octuple: $space * 8;
$space-nonuple: $space * 9;
$space-decuple: $space * 10;
$space-uncuple: $space * 11;
$space-duodecuple: $space * 12;
$space-tredecuple: $space * 13;

$space-one-half: $space/2;
$space-one-third: $space/3;
$space-one-fourth: $space/4;
$space-one-fifth: $space/5;
$space-one-sixth: $space/6;
$space-one-seventh: $space/7;
$space-one-eighth: $space/8;
$space-one-ninth: $space/9;
$space-one-tenth: $space/10;

// Other widths or base variables
$max-width: 1200px;

//
// Singularity
//
@include add-grid(12);
@include add-gutter(1/3);


//
// Typography
//
$sans: "proxima-nova",sans-serif; // 400 and 700
$serif: "adelle",serif; // 400, 600 and 700


//
// Mobile Nav
//
$buttonSize: 3em;
$barHeight: $buttonSize/12;


//
// Colors
//
$jt-gray: #1c1c1c;
$jt-olive: #4d6736;
$jt-orange-mid: #e17c18;
$jt-orange-muted: #b57c25;
$jt-orange: #df9246;
$jt-blue: #4da195;
$jt-green: #92b82b;
$jt-green-mid:#6c881f;
$jt-red: #B83B2B;
$jt-yellow: #d9d336;
$jt-gold: #8b8673;
$jt-brown: #3A2F1D;
$jt-pink: #8e0f84;
$jt-pink-mid: #6a0b62;

$link-color: $jt-green;
$white: #fff;
$black: #000;

// social-icons
$github: #4078c0;
$twitter: #33CCFF;
$dribbble: #ea4c89;
$instagram: #4090DB;
$drupal: #03486c;
$google: #C63D2D;
$lastfm: #D51007;
$linkedin: #4875B4;
$feed: $jt-orange;

// Colors from posts
$excop: #320E07;
$eyedea: #9BBFBF;
$british-blue: #00247d;
$design-for-one:#371F0C;
$design-for-two:#371F0C;
$saul-purple: #442948;
$drupal-blue: #03486c;
$drupal-blue2: #0077b6;
$drupal-green: #636900;
$drupal-green2: #98a013;
$never-better: #d71a62;
$dapper-green: #676944;
$gossip-purple: #8d5595;
$jamaica: #009b3a;
$jamaica-yellow: #fed100;
$tycho: #ab627d;
$lazerbeak: #314b61;
$dessa-pink: #CA3197;
$dessa-blue: #125480;
$aphex-yellow: #C6D300;
$flex-orange: #e16f0e;
$flex-pink: #BE107F;
$flex-yellow: #e9cf31;
